

#blog {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    padding: 10px;
}

#user_edit_save {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 50px;
}

#like_button , #comment_button ,#all_comments , #likes , #comment {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 10px;
    width: 100%;
}

#display_comments {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: lightgray;
    width: 100%;
}

#display_comment {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: left;
    background-color: white;
    margin: 10px;
}

#blog_title {
    border-color: red;
    border: 2px;
}