body {
    background-color: #ffeedd;
}

.posts {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    border-radius: 10px;
    width: 43%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
}

#like_button {
    text-align: left;
}


.post {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 10px;
}

.post:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.post_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    color: gray;
    font-size: large;
}

.post_details {
    padding-left: 10px;   
}

.post_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    color: gray;
}

.button_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 18%;
    margin-right: 18%;
}

#yes {
    background-color: green;
}

#no {
    background-color: red;
}

.modal_dialog {
    max-width: 60%;
}

.modal_body {
    justify-content: center;
}